<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yangwenb.taoappl">

    <application
        android:allowBackup="true"
        android:icon="@drawable/cheng"
        android:label="Mall商城"
        android:roundIcon="@drawable/cheng"
        android:supportsRtl="true"
        android:theme="@style/NoAppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".lindang.LindangActivity" />
        <activity android:name=".seek.SeekActivity" />
        <activity android:name=".gou.GouwuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>